/* * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d3d3d3;
}

.persona404 {
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Fira Code';
    }
}